asgiref==3.3.1
beautifulsoup4==4.9.3
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
dj-database-url==0.5.0
Django==3.0.7
django-bootstrap4==2.2.0
django-countries==7.1
django-environ==0.4.5
django-phone-field==1.8.1
django-storages==1.11.1
django-widget-tweaks==1.4.8
google-api-core==1.26.2
google-auth==1.28.0
google-cloud-core==1.6.0
google-cloud-storage==1.37.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
gunicorn==20.1.0
idna==2.10
packaging==20.9
Pillow==8.1.2
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
