asgiref==3.3.1
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==2.2.0
django-bootstrap4==1.1.1
django-countries==7.1
django-environ==0.4.5
django-phone-field==1.8.1
django-widget-tweaks==1.4.8
pytz==2018.7
soupsieve==1.9.4
sqlparse==0.4.1
