{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <p>&nbsp;</p>
  <form class="order-form" method="post" enctype="multipart/form-data" onchange="updateVal()" onsubmit="return confirm('If everything is correct, click OK. If not, click cancel.');">
    <span style="font-size: 10px;"><a href="/dashboard">(CLICK FOR YOUR PROFILE)</a></span>
    <h3>Hi, {{ user.first_name }}!</h3>
    <p>Kindly indicate your order for your stickers in the form below. Thanks.</p>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <span style="font-size: 10px;"><a href="{% url 'authapp:phone_verification' %}">VERIFY MOBILE NUMBER AGAIN IF NECESSARY</a></span>
    <p>&nbsp;</p>
    <div class="total_box">
      <p>
        <br>
        Total Price: <strong>PHP <span id="id_new_total"></span></strong><br>
        <span style="font-size: 10px; font-style: italic;">
          Note: Price per square foot is PHP 120.00 and shipping fee is PHP 150.00. This will be shipped via Cash-on-Delivery option with LBC.
        </span>
      </p>
    </div>
    <button type="submit" class="btn btn-primary">Post Order</button>
  </form>

  <p>&nbsp;</p>

  </div>

  <script>
  function updateVal() {
    let width = document.getElementById('id_width').value;
    let height = document.getElementById('id_height').value;
    let quantiy = document.getElementById('id_quantiy').value;
    let area = width * height / 144;
    let total = area * 120 * quantiy + 150;
    console.log(total);
    document.getElementById('id_new_total').innerHTML = Math.round((total + Number.EPSILON) * 100)/100;
  }
  updateVal();
  </script>
{% endblock %}
