{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <p>&nbsp;</p>
  <form class="order-form" method="post" enctype="multipart/form-data" onchange="updateVal()" onsubmit="return confirm('If everything is correct, click OK. If not, click cancel.');">
    <span style="font-size: 10px;"><a href="/dashboard">(CLICK FOR YOUR PROFILE)</a></span>
    <h3>Hi, {{ user.first_name }}!</h3>
    <p>Kindly indicate your order for your stickers in the form below. Thanks.</p>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <div class="total_box">
      <p>
        <br>
        Total Price: <strong>PHP <span id="id_new_total"></span></strong><br>
        <span style="font-size: 10px; font-style: italic;">
          Note: Price per square foot is PHP 120.00 and shipping fee is PHP 150.00. This will be shipped via Cash-on-Delivery option with LBC.
        </span>
      </p>
    </div>
    <button type="submit" class="btn btn-primary">Post Order</button>
  </form>

  <p>&nbsp;</p>
  <!-- MODAL -->
  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Hi, {{ user.first_name }}!</h4>
          </div>
          <div class="modal-body">
            <p>We are very happy that you're here.</p>
            <p>For your order request, this will be done via LBC Cash-on-Delivery option, and we are confident and fully trust on you.</p>
            <p>Once you post your order, this will be automatically processed for fulfillment. Please carefully fill in your details.</p>
            <p>We are recommending that you upload a high resolution image for your file.</p>
            <p>Please contact us via <a href="https://www.facebook.com/unrestphshop">Facebook</a> if you have any other queries.</p>
            <p>Thank you.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- END MODAL -->

  </div>

{% endblock %}
