{% extends 'base.html' %}
{% block content %}
<p>&nbsp;</p>
<div class="orders">
<h1>Orders</h1>
{% for order in orders %}
  <div class="orders-box">
    <p>
      Order ID: <strong>{{ order.id }}</strong><br />
      User: {{ order.customer|truncatechars:10 }}<br />
      Total Price: <strong>{{ order.total_price }}</strong><br />
      <span style="font-size: 10px;">
        {% if order.is_paid is False %}
          <span style="color: red; font-weight: bolder;">NOT PAID</span>
        {% else %}
          <span style="color: green; font-weight: bolder;">PAID</span>
        {% endif %}
      </span><br />
      <span style="font-size: 10px;"><a href="{% url 'authapp:order_detail' order.id %}">DETAILS >></a></span>
    </p>
  </div>
{% endfor %}
<p style="float: none; clear: left;">&nbsp;</p>
{% if orders.has_other_pages %}
  <div>
    <ul class="pagination">
      {% if orders.has_previous %}
        <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in orders.paginator.page_range %}
        {% if orders.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if orders.has_next %}
        <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
</div>
{% endblock %}
