{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <p>&nbsp;</p>
  <form class="order-form" method="post" enctype="multipart/form-data" onchange="updateVal()" onsubmit="return confirm('If everything is correct, click OK. If not, click cancel.');">
    <span style="font-size: 10px;"><a href="/dashboard">(CLICK FOR YOUR PROFILE)</a></span>
    <h3>Hi, {{ user.first_name }}!</h3>
    <p>Kindly indicate your order for your stickers in the form below. Thanks.</p>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
                {{ form.non_field_errors }}
                {{ form.phone_number.errors }}
                {{ form.via.errors }}
              </div>

            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <div class="form-group">
      <input type="tel" id="intl_phone_number" class="form-control" />
      {{ form.via }}
      <input type="submit" value="Request Verification" class="btn btn-info btn-block">
    </div>
    <div class="form-group" style="margin-top: 10px;">
      <p style="padding:0;">I consent to give my number:
      <input style="width: 30px; height: 12px;" type="checkbox" id="opt_in" name="opt_in" value="" onclick="enablePhone()">
      </p>
    </div>


    <div class="total_box">
      <p>
        <br>
        Total Price: <strong>PHP <span id="id_new_total"></span></strong><br>
        <span style="font-size: 10px; font-style: italic;">
          Note: Price per square foot is PHP 120.00 and shipping fee is PHP 150.00. This will be shipped via Cash-on-Delivery option with LBC.
        </span>
      </p>
    </div>
  </form>

  <p>&nbsp;</p>
  <!-- MODAL -->
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Hi, {{ user.first_name }}!</h4>
            <span style="color: red;">[MUST READ]</span>
          </div>
          <div class="modal-body">
            <p>We are very happy that you're here.</p>
            <p>As this order request will be fulfilled via LBC's Cash on Delivery service, we are committed to trust in you.</p>
            <p><strong>POLICY AGREEMENT</strong></p>
            <p>By entering your mobile number, you agree and consent that you will be recieving an SMS message from us. Your SMS opt-in will
              only be used within this speficic transaction.
              <strong>Don't forget to enter the VERIFICATION TOKEN that will be sent out to your mobile number</strong> later.</p>
            <p>Once order is posted, it will be processed automatically.</p>
            <p>To save time, make sure that you have your graphic design file ready, the dimensions (in inches), and the quantity that you want.</p>
            <p>We recommend that you upload a high resolution image of your file to achieve a better quality printout.</p>
            <p>Contact us via <a href="https://www.facebook.com/unrestphshop">Facebook</a> if you have any other queries.</p>
            <p>Thank you.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">I Agree</button>
          </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->



  <script>
  function updateVal() {
    let width = document.getElementById('id_width').value;
    let height = document.getElementById('id_height').value;
    let quantiy = document.getElementById('id_quantiy').value;
    let area = width * height / 144;
    let total = area * 120 * quantiy + 150;
    console.log(total);
    document.getElementById('id_new_total').innerHTML = Math.round((total + Number.EPSILON) * 100)/100;
  }
  updateVal();
  </script>
  <script>
  //* MODAL SCRIPT
  $(window).on('load', function() {
    $('#myModal').modal('show');
  });
  </script>

  <script>
    const phoneInputField = document.querySelector("#intl_phone_number");
    const phoneInput = window.intlTelInput(phoneInputField, {
      initialCountry: "PH",
      separateDialCode: true,
      hiddenInput: "phone_number",
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/js/utils.js"
    });

    function enablePhone() {
      x = document.getElementById('intl_phone_number');
      x.disabled = true;
      y = document.getElementById('opt_in');
      if (y.checked == true) {
          x.disabled = false;
      }
    }

    enablePhone();

  </script>
{% endblock %}
