{% extends "base.html" %}
{% block title %}Verify Phone{% endblock %}
{% block content %}
<div class="verify">
  <p>&nbsp;</p>
  <h2>Please verify your mobile number</h2>
  <p>&nbsp;</p>
  <form role="form" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}
    {{ form.phone_number.errors }}
    {{ form.via.errors }}

    <div class="row">
      <input type="tel" id="intl_phone_number" class="form-control" />
      {{ form.via }}
      <input type="submit" value="Request Verification" class="btn btn-info btn-block">
    </div>
    <div class="row" style="margin-top: 10px;">
      <p style="padding:0;">I consent:
      <input style="width: 30px; height: 12px;" type="checkbox" id="opt_in" name="opt_in" value="" onclick="enablePhone()">
      </p>
    </div>

  </form>
</div>

<script>
  const phoneInputField = document.querySelector("#intl_phone_number");
  const phoneInput = window.intlTelInput(phoneInputField, {
    separateDialCode: true,
    hiddenInput: "phone_number",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.11/js/utils.js"
  });

  function enablePhone() {
    x = document.getElementById('intl_phone_number');
    x.disabled = true;
    y = document.getElementById('opt_in');
    if (y.checked == true) {
        x.disabled = false;
    }
  }

  enablePhone();

</script>
{% endblock %}
